{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dreamprofile/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dreamprofile/css/profile.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" />
  <script src="{{ STATIC_URL }}dreamprofile/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>

  <div id="page">
  {% block content %}{% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}dreamprofile/js/libs/jquery-1.8.2.min.js'>\x3C/script>")</script>
  <script src="{{ STATIC_URL }}dreamprofile/js/main.js"></script>

</body>
</html>
