{% extends "dreamprofile/base.html" %}
{% load i18n %}
{% block content %}

  <div id="header">
    <div class="wrap">
      <div class="icon"></div>
      <h1 class="title">{% trans "Password change" %}</h1>
    </div>
    <a class="back-link" href="{% url dreamprofile_main %}"><span></span></a>
  </div>

  <div id="content">
    <div class="basic-form">

      <p class="form-success">{% trans 'Password change successful. Your password was changed.' %}</p>

    </div>
  </div>

  <div id="footer">
    <div class="footer-container clearfix">

      <div class="copyright">
        <p class="row">{% trans '#copyright' %}</p>
        <p class="row">{% trans 'Made by Haltu Oy' %}</p>
      </div>

    </div>
  </div>

{% endblock %}
